# macOS stuff
*.DS_Store

# Files that I don't want to track
node_modules
obelisk/dot-config/gh/*
obelisk/dot-config/zed/*
obelisk/dot-config/htop/*
obelisk/dot-hammerspoon/*
obelisk/dot-config/pudb/*
obelisk/dot-config/vemacs/*
obelisk/dot-config/marimo/*
obelisk/dot-config/zellij/*
obelisk/dot-config/portal/*
obelisk/dot-config/gtk-2.0/*
obelisk/dot-config/raycast/*
obelisk/dot-config/lazygit/*
/obelisk/dot-config/joyride/*
/obelisk/dot-config/psppirerc
/obelisk/dot-config/configstore
/obelisk/dot-config/copilot-chat
obelisk/dot-config/github-copilot/*
obelisk/dot-config/nvim/lazy-lock.json
/obelisk/dot-config/karabiner/automatic_backups

# Exceptions
!obelisk/dot-config/vmacs/init.el
!obelisk/dot-config/vmacs/oblsk.el
!obelisk/dot-config/vmacs/early-init.el
!obelisk/dot-config/vmacs/*-framework.el
!obelisk/dot-config/zed/keymap.json
!obelisk/dot-config/zed/settings.json

# AI/Aider stuff
.aider*
